*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus{
    outline: none;

}

body{
    opacity: 20;
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background: url(../images/medical_care.jpg);
    background-size: cover;
    background-position: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.form{
    width: 400px;
    height: auto;
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.heading{
    opacity: 0.7;
    text-transform: capitalize;
    text-align: center;
    font-size: 100px;
    font-weight: 300px;
    margin-bottom: 50px;
}

input, .submit-btn{
    opacity: 11;
    width: 220px;
    height: 35px;
    display: block;
    margin: 20px auto;
    border-radius: 5px;
    background: rgb(0, 1, 10);
    border: none;
    color: #fff;
    padding: 15px;
    transition: .5s;
    font-size: 16px;
}

input::placeholder{
    color: #fff;
}

input:focus, .submit-btn:hover{
    background: #fff;
    color: #000;
}

input:focus::placeholder{
    color: #000;
}

.submit-btn{
    width: 150px;
    padding: 0 20px;
    cursor: pointer;
    margin: 50px auto 0;
    opacity: 15;
    text-decoration: none;
    text-align: center;
    margin-top: 0px;
}

.link{
    opacity: 20;
    text-align: center;
    text-transform: capitalize;    
    text-decoration: none;
   /* color: rgba(255, 255, 255, 0.3);*/
    font-size: large;   
    display: block;
    margin: 35px auto;
}

.link:hover{
    color: #fff;
}

.alert-box{
    /*opacity: 20;*/
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    min-width: 150px;
    max-width: 90%;
    width: auto;
    height: auto;
    padding: 10px;
    text-transform: capitalize;
    background: rgb(255, 119, 119);
    border-top: 10px solid rgb(255, 37, 37);
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    transition: 1s;
}


.right-side {
    margin-top: -350px;
    margin-left: -220px;
    background: grey;
    border-radius: 15px;
    font-size: 15px;
}

 p{
    font-size: 20px;
}